body {
    margin: 0px;
    font-family: PT Sans;
}

.menu-container {
    background-color: #1E3190;
    height: 100vh;
    width: 15%;
    z-index: 2;
    position: absolute;
    left: 0;
}

.menu-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 135px;
}


/* menu points */

.all-hrefs {
    width: 100%;
    height: 45vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.single-href {
    color: white;
    font-size: 16px;
    text-decoration: none;
    width: 100%;
    margin: 10px 0px;
    margin-left: 50px;
}

.single-href:hover {
    color: lightgray;
    cursor: pointer;
    margin-left: 60px;
}


/* menu profile pic & profile name */

.profile-menu {
    justify-content: space-around;
    align-items: center;
}

.profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.profile-pic-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-pic-div img {
    border: 3px solid rgb(0, 0, 0);
    padding: 1px;
    background-color: white;
    height: 60px;
    border-radius: 50px;
    object-fit: cover;
    cursor: pointer;
    /*object-position: -15px -2px;*/
}

.open-menu-close {
    /**/
    height: 30px;
    width: 30px;
    padding-left: 15px;
    filter: invert(1);
    cursor: pointer;
    margin: 20px;
}

.img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.username {
    font-size: 20px;
    color: white;
    margin-top: 10px;
    margin-bottom: 30px;
}

.avatarPerson {
    display: flex;
}

.avatarPersonName {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.log-out {
    color: white;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-out:hover {
    text-decoration: underline;
    cursor: pointer;
}

.div {
    display: flex;
}

.no {
    width: 78%;
    padding-left: 250px;
    max-height: 100vh;
}

.tools {
    color: #3F4294;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding-right: 250px;
}

.p {
    font-size: 15px;
    color: blue;
    margin-bottom: 40px;
}

.headerName {
    font-size: 30px;
    font-weight: bolder;
    margin-block-end: 0px;
}

.contentContainer {
    width: 17%;
}

.legendTask {
    transform: scale(0.6);
    position: absolute;
    left: 200px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
display: flex;
}

.in{
    padding-right: 65px;
}
.boxIn{
    display: flex;
    flex-direction: column;
    justify-content: start;
   
}


.dialog-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgb(252 249 249 / 85%);
    display: flex;
    justify-content: center;
    align-items: center;
}



.dialog-task {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    gap: 16px;
    padding: 16px;
    border-radius: 8px;
    background-color: #f4f3fb;
}

.dialogAllBacklog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 450px;
    height: 500px;
    border-radius: 5px;
    background-color: rgb(242, 239, 248);
    box-shadow: 3.5px 3.5px #ccc;
}

.overflow-hidden {
    overflow: hidden;
}

.d-none {
    display: none;
}

.edit-dialog {
    position: relative;
}

.edit-dialog .add-task-form {
    margin-top: 0;
}

.buttonClose {
    position: absolute;
    cursor: pointer;
    font-size: 22px;
    color: #1E3190;
}



.move {
  
    cursor: pointer;
    border: 1px solid rgb(134, 133, 133);
 width: 14vw;
    height: 6vh;
    border-radius: 5px;
    font-size: 18px;
    background-color: white;
    box-shadow: 3px 3px #ccc;
    color: #1E3190;
    margin: 2%;
    
}
.icon-menu{
    display: flex;
    justify-content:space-between;
    
}

.square {
    right: 54px;
    bottom: 20px;
}

.title {
    font-size: 25px;
    padding-right: 20px;
    font-weight: 600;
    padding-top: 22px;
}

.titleText {
    font-size: 20px;
    padding-left: 65px
}

.edit-dialog {
    position: relative;
}

.backlog-dialog-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.backlogTasks {
    display: flex;
    align-items: center;
    border-left: solid 8px;
    margin: 16px 0;
    padding: 8px;
    border-radius: 8px;
    background-color: #f4f3fb;
    cursor: pointer;
    min-height: 80px;
}

.backlogTasks:hover {
    background-color: #e8e5f8;
}

.backlogAssigned {
    display: flex;
    align-items: center;
    width: 450px;
}

.assigned-to {
    margin-bottom: 15px;
}

.backlogCategory {
    display: flex;
    align-items: center;
    min-height: 48px;
    word-break: break-all;
    width: 400px;
}

.backlogDescription {
    display: flex;
    align-items: center;
    white-space: pre-wrap;
    overflow: hidden;
    /* max-width: 280px; */
    min-height: 48px;
    width: 400px;
}

.tasksDialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.column-dialog {
    display: flex;
 
}



.categoryPadding {
    padding-right: 50px;
    padding-top: 20px;
    font-weight: 600;
    font-size: 17px;
}

.name {
    padding-right: 54px;
    font-size: 17px;
}

/*  */

@media (max-width: 1100px) {
    .move {
    
        width: 18vw;
        
    }
}

@media (max-width: 900px) {
    .move {
    
        width: 22vw;
        
    }
}
@media (max-width: 750px) {
    .move {
    
        width: 25vw;
        
    }
}
@media (max-width: 600px) {
    .move {
    
        width: 35vw;
        
    }
}
@media (max-width: 430px) {
    .move {
    
        width: 45vw;
        
    }
}